html{
  font-size: 20px;
  
  
}
body{
  display: block;  
  background: rgb(0, 0, 0);
  height: 100%;
  
}
.App {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 240vh;
  position: relative;
  display:block;
}

.Header {
  height: 122px;
  width: 100%;
  color: white;
  background: white;
  /* position: sticky; */
 
  top: 0px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-image: url('./img/SIRSLogo.png'), url('./img/sirs-head.png');
  z-index: 1;
  background-repeat: no-repeat;
  flex-direction: column;
}
.header-h3{
  text-align: right;
  font-weight: 100;
  font-size: 1em;
  height: 20%;
  margin: 0 60px 15px 0;
}
.header-right{
  float: right;
  
  
  text-shadow: 0 0 0.2em #FFFFFF;
  color: #193495;
  margin: auto 0;
  font-weight: 100;
  font-size: 1.4em;
  display: block;
  max-width: 60%;
  
}
.nav{
  top: 122px;
  display: flex;
  
  justify-content: space-around;
  bottom: 0px;
  height: 40px;
  width: 100%;
  background: rgb(218, 215, 215);
  box-shadow: 1px 10px 15px #888888;
  
  font-weight: bold;
  color: #73b019; /*sirs blue: #193495, sirs green: #73b019*/
  align-items: center;
}
.navLink{
  color: #193495;
  text-decoration: none;
}
.navLink:active{
 color: #73b019;
}
.MidContainer{
  height:150vh;
  width: 80vw;
 
  box-shadow: 10px 10px 5px #888888;
  padding: 20px;
  background: white;
}
.main-left{
  float: left;
  height: 100%;
  width: 40%;
  overflow-y: hidden;
  padding: 20px;
 
}
.Home{
  position: relative;
  height: 150vh;
  width: 100%;
  
  z-index: -1;
}
.Component{
  position: relative;
  height: calc(100% - 422px);
  width: 100%;  
  z-index: -1;
}
.sticky{
  position: sticky;
}
.Footer{  
  height: 120px;
  width: 100%;
  background: #73b019;
  text-align: center;
  padding: 22px 0;
  font-size: .8em;
  bottom: 0;
  position: absolute;
}
.ham{
  left:0;
  height: 40px;
  width: 40px;
  background: lightblue;
  padding: 12px;
  font-size: 24px;
  line-height: 2;

  

  
}
.close-window{
  text-align: right;
  width:100%;
  position: relative;
}
.hamLink{
  width: 100%;
  background:white;
  border: 2px solid gray;
  padding: 5px;
}
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 40px;
  left: 0px;
  top: 0px;
  background-image: url('./img/ham-menu.png');
  display: none;

}

@media (max-width: 600px){
  .nav{
    display:flex;
    justify-content: flex-start;
    
  }
  .leftCol{
    position: relative;
    left: -400px;
    
  }
  .ham{
    height: 200px;
  }
  
  .navLink{
    display:none;
  }
  .Header{
    font-size: 14px;
  }
  .Component{
    font-size: 24px;
  }
  .bm-burger-button {
    display: block;
  }  
}