.blue-box{
    background: url('./img/blue-box.png');
    height: 300px;
    padding: 12px 0 6px 18px;
    color: white;
    font-size: 24px;
    
}
.blue-box h3{
    font-size:1.3em;
    font-weight:bold;
    text-shadow: 1px 1px black;
    
   
}
.left-side{
    float:left;
    width: 60%;
    height: 100%;
    padding-right:12px;
}

.column-pic{
    background: url('./img/pillars-and-steps.jpg') no-repeat;
    float:right;
    height: 100%;
    width: 40%;
}
.content{
    background: white;
    height: calc(100% - 122px);
    width:100%;
}
.leftCol{
    float: left;
    width: 20%;
    height: 100%;
    padding: 10px;
    border-right: 2px solid gray;
    height: calc(100%-120px);
    overflow-y: auto;
}
.rightCol{
    float: right;
    border-left: solid 2px gray;
    width: 80%;
    height: calc(100%-120px);
}

@media (max-width: 600px){
    .blue-box{
        font-size: 20px;
    }
}